LZ/*
LZSystemTest/*
.DS_Store
.*~
._*
*~
*.d
*.o
*.so
*.lib
*.dylib
*.tmp
*.bin
*.root
*.wrl
*.pdf
*.png
*.out
*.log
*.pcm
tmp
bin
*.core
._*
*.txt
Darwin-g++
Linux-g++
BACCARATExecutable
BaccLibraries
BaccAsciiReader
BaccExampleAnalysis
BaccRootReader
BaccRootConverter
BaccPMTStream
NMDAnalysis
BaccBuildCatalog.cc
tools/BaccRootConverterEvent_cc_ACLiC_dict.cxx*
